*~
*.log
Makefile.conf
config.status
CHANGES
*.cproject
*.gb_project
*.project
*.log
ChangeLog
.settings
configure.lineno
ado.gpr
ado_all.gpr
ado_postgresql.gpr
ado_tests.gpr
t.gpr
samples.gpr
tests.xml
ado-tests.xml
ado-*-aunit.xml
autom4te.cache
bin/
obj/
lib/
ado-aunit.xml
distrib/ado.gpr
regtests/results/
regtests/ado-testsuite.adb
regtests/ado-testsuite-drivers.adb
src/drivers/ado-drivers-initialize.adb
ado_mysql.gpr
ado_sqlite.gpr
regtests.db
src/mysql/mysql-lib.ads
docs/ado-book.pdf
docs/ado-book.html
alire
cover
wiki
ado.cov
samples.db
