*~
*.log
Makefile.conf
CHANGES
*.cproject
*.gb_project
*.project
*.log
ChangeLog
.settings
ado.gpr
tests.xml
ado-tests.xml
ado-*-aunit.xml
bin/
obj/
lib/
ado-aunit.xml
regtests/results/
regtests/ado-testsuite.adb
regtests/ado-testsuite-drivers.adb
src/drivers/ado-drivers-initialize.adb
regtests.db
src/mysql/mysql-lib.ads
docs/ado-book.html
alire
cover
wiki
ado.cov
samples.db
*.substvars
debian/lib*
debian/.debhelper/
debian/autoreconf.after
debian/autoreconf.before
debian/debhelper-build-stamp
debian/files
