Source: libado
Priority: optional
Section: libdevel
Maintainer: Stephane Carrez <Stephane.Carrez@gmail.com>
Build-Depends: debhelper (>= 10), autotools-dev,
 gnat, gnat-7,
# This line is parsed by debian/rules.
 gprbuild (>= 2015-2),
 libsqlite3-dev
# 2015-2 is compatible with gnat-6
Standards-Version: 4.1.4
Homepage: https://github.com/stcarrez/ada-ado/
#Vcs-Git: git://git.debian.org/collab-maint/ada-util.git
#Vcs-Browser: http://git.debian.org/?p=collab-maint/ada-util.git;a=summary

Package: libado2.1.1
Section: libs
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Ada Database Objects (runtime)
 The Ada Database Objects provides a relational mapping to access
 databases in Ada applications.  The package contains the runtime
 libraries.

Package: libado-mysql2.1.1
Section: libs
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, libado2.1.1 (= ${binary:Version})
Description: Ada Database Objects for MySQL (runtime)
 This is the MySQL database driver for Ada Database Objects.

Package: libado-sqlite2.1.1
Section: libs
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, libado2.1.1 (= ${binary:Version})
Description: Ada Database Objects for SQLite (runtime)
 This is the SQLite database driver for Ada Database Objects.

Package: libado-postgresql2.1.1
Section: libs
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, libado2.1.1 (= ${binary:Version})
Description: Ada Database Objects for PostgreSQL (runtime)
 This is the PostgreSQL database driver for Ada Database Objects.

Package: libado1-dev
Section: libdevel
Architecture: any
Depends: ${misc:Depends}, ${ada:Depends}
Description: Ada Database Objects (Development files)
 The Ada Database Objects provides a relational mapping to access
 databases in Ada applications.

Package: libado-mysql1-dev
Section: libdevel
Architecture: any
Depends: ${misc:Depends}, ${ada:Depends}
Description: Ada Database Objects for MySQL (Development files)
 The Ada Database Objects provides a relational mapping to access
 databases in Ada applications.
 .
 The package contains the Ada development files for the MySQL driver.

Package: libado-sqlite1-dev
Section: libdevel
Architecture: any
Depends: ${misc:Depends}, ${ada:Depends}
Description: Ada Database Objects for SQLite (Development files)
 The Ada Database Objects provides a relational mapping to access
 databases in Ada applications.
 .
 The package contains the Ada development files for the SQLite driver.

Package: libado-postgresql1-dev
Section: libdevel
Architecture: any
Depends: ${misc:Depends}, libada-ado1.2 (= ${binary:Version}), gnat
Description: Ada Database Objects for PostgreSQL (Development files)
 The Ada Database Objects provides a relational mapping to access
 databases in Ada applications.
 .
 The package contains the Ada development files for the PostgreSQL driver.

