Source: libado
Priority: optional
Section: libdevel
Maintainer: Stephane Carrez <Stephane.Carrez@gmail.com>
Build-Depends: debhelper (>= 10), autotools-dev,
 dh-ada-library,
 gnat, gnat-8,
# This line is parsed by debian/rules.
 gprbuild (>= 2015-2),
 libxmlada-sax8-dev,
 libutilada-xml2-dev,
 libutilada-sys2-dev,
 libsqlite3-dev,
 libpq-dev,
 libmariadb-dev,
 postgresql-client-common,
# pandoc requires texlive-fonts-extra for PDF
 pandoc, texlive-fonts-extra
Standards-Version: 4.1.4
Homepage: https://github.com/stcarrez/ada-ado/
Vcs-Git: https://github.com/stcarrez/ada-ado.git -b debian-gnat-8
Vcs-Browser: https://github.com/stcarrez/ada-ado/tree/debian-gnat-8

Package: libado2.1.2
Section: libs
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Ada Database Objects (runtime)
 The Ada Database Objects provides a relational mapping to access
 databases in Ada applications.  The package contains the runtime
 libraries.

Package: libado-mysql2.1.2
Section: libs
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, libado2.1.2 (= ${binary:Version})
Description: Ada Database Objects for MySQL (runtime)
 This is the MySQL database driver for Ada Database Objects.

Package: libado-sqlite2.1.2
Section: libs
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, libado2.1.2 (= ${binary:Version})
Description: Ada Database Objects for SQLite (runtime)
 This is the SQLite database driver for Ada Database Objects.

Package: libado-all2.1.2
Section: libs
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, libado2.1.2 (= ${binary:Version})
Description: Ada Database Objects drivers (runtime)
 This is the database driver loader for Ada Database Objects.

Package: libado-postgresql2.1.2
Section: libs
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, libado2.1.2 (= ${binary:Version})
Description: Ada Database Objects for PostgreSQL (runtime)
 This is the PostgreSQL database driver for Ada Database Objects.

Package: libado2-dev
Section: libdevel
Architecture: any
Depends: ${misc:Depends}, ${ada:Depends}
Suggests: libado-doc (= ${source:Version})
Description: Ada Database Objects (Development files)
 The Ada Database Objects provides a relational mapping to access
 databases in Ada applications.

Package: libado-mysql2-dev
Section: libdevel
Architecture: any
Depends: ${misc:Depends}, ${ada:Depends}
Suggests: libado-doc (= ${source:Version})
Description: Ada Database Objects for MySQL (Development files)
 The Ada Database Objects provides a relational mapping to access
 databases in Ada applications.
 .
 The package contains the Ada development files for the MySQL driver.

Package: libado-sqlite2-dev
Section: libdevel
Architecture: any
Depends: ${misc:Depends}, ${ada:Depends}
Suggests: libado-doc (= ${source:Version})
Description: Ada Database Objects for SQLite (Development files)
 The Ada Database Objects provides a relational mapping to access
 databases in Ada applications.
 .
 The package contains the Ada development files for the SQLite driver.

Package: libado-postgresql2-dev
Section: libdevel
Architecture: any
Depends: ${misc:Depends}, ${ada:Depends}
Suggests: libado-doc (= ${source:Version})
Description: Ada Database Objects for PostgreSQL (Development files)
 The Ada Database Objects provides a relational mapping to access
 databases in Ada applications.
 .
 The package contains the Ada development files for the PostgreSQL driver.

Package: libado-all2-dev
Section: libdevel
Architecture: any
Depends: ${misc:Depends}, ${ada:Depends}
Suggests: libado-doc (= ${source:Version})
Description: Ada Database Objects drivers (Development files)
 The Ada Database Objects provides a relational mapping to access
 databases in Ada applications.
 .
 The package contains the Ada development files for the driver loader.

Package: libado-doc
Section: libdevel
Architecture: all
Multi-Arch: foreign
Depends: ${misc:Depends}
Suggests: gnat
Description: Ada Database Objects (documentation)
 The Ada Database Objects provides a relational mapping to access
 databases in Ada applications.
 .
 This package contains the documentation for Ada Database Objects
 in HTML and PDF as well as several examples.
