#!/usr/bin/make -f
# -*- makefile -*-
# Sample debian/rules that uses debhelper.
# This file was originally written by Joey Hess and Craig Small.
# As a special exception, when this file is copied by dh-make into a
# dh-make output file, you may use that output file without restriction.
# This special exception was added by Craig Small in version 0.37 of dh-make.

$(foreach line,$(shell sed -n '\
  s/^ gnat, gnat-\([0-9.]\+\),$$/ \
    GNAT_VERSION:=\1 \
  /p;\
  s/^Package: libado\([0-9.]\+\)$$/ \
    soname:=libado.so.\1 \
  /p;\
  ' debian/control),$(eval $(line)))

DH_VERBOSE=1
export DH_OPTIONS=-v

DEB_BUILD_MAINT_OPTIONS := hardening=+all
include /usr/share/dpkg/buildflags.mk
include /usr/share/ada/debian_packaging-$(GNAT_VERSION).mk
ADAFLAGS += -gnatafno -gnatVa -gnatwa

%:
	dh $@ --with ada-library

override_dh_auto_configure:
	dh_auto_configure -- --enable-shared --enable-default-shared

override_dh_auto_build-arch:
	make GPRFLAGS="-R -m -q"

override_dh_auto_test::

override_dh_auto_install::

version=2.1.2
aliversion=1

ado_LIB_PKG = libado$(version)
ado_DEV_PKG = libado$(aliversion)-dev

ado_mysql_LIB_PKG = libado-mysql$(version)
ado_mysql_DEV_PKG = libado-mysql$(aliversion)-dev
ado_sqlite_LIB_PKG = libado-sqlite$(version)
ado_sqlite_DEV_PKG = libado-sqlite$(aliversion)-dev
ado_postgresql_LIB_PKG = libado-postgresql$(version)
ado_postgresql_DEV_PKG = libado-postgresql$(aliversion)-dev

override_dh_install::
	dh_installdirs --package=$(ado_DEV_PKG) \
	   usr/share/dynamo/ado/db
	for i in `cd $(CURDIR)/db && ls *.xml`; do \
		dh_install -p$(ado_DEV_PKG) db/$$i usr/share/dynamo/ado/db ; \
	done
	dh_install -p$(ado_DEV_PKG) dynamo.xml usr/share/dynamo/ado
	dh_installdirs --package=$(ado_mysql_DEV_PKG) \
	   usr/share/dynamo/ado/db/mysql
	for i in `ls $(CURDIR)/db/mysql`; do \
		dh_install -p$(ado_mysql_DEV_PKG) db/mysql/$$i usr/share/dynamo/ado/db/mysql ; \
	done
	dh_installdirs --package=$(ado_sqlite_DEV_PKG) \
	   usr/share/dynamo/ado/db/sqlite
	for i in `ls $(CURDIR)/db/sqlite`; do \
		dh_install -p$(ado_sqlite_DEV_PKG) db/sqlite/$$i usr/share/dynamo/ado/db/sqlite ; \
	done
	dh_installdirs --package=$(ado_postgresql_DEV_PKG) \
	   usr/share/dynamo/ado/db/postgresql
	for i in `ls $(CURDIR)/db/postgresql`; do \
		dh_install -p$(ado_postgresql_DEV_PKG) db/postgresql/$$i usr/share/dynamo/ado/db/postgresql ; \
	done

.PHONY: override_dh_installexamples-indep
override_dh_installexamples-indep:
	dh_installexamples --indep

.PHONY: override_dh_installdocs-indep

override_dh_installdocs-indep:
	make doc
	dh_installdocs -i
